<!--
KALAI Mohamed Hedi
SATOURI Khaireddine
L3 Informatique
-->

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Mini Projet réalisé par<br> KALAI Mohamed Hedi || SATOURI Khaireddine<br> L3 Informatique</p>
    </div>
</footer>

</body>

</html>