<!--
KALAI Mohamed Hedi
SATOURI Khaireddine
L3 Informatique
-->

<div class="col-lg-3">
    <br>
    <h1 class="my-4"> Vente des Antivirus</h1>
    <div class="list-group">
        <a href="/cat1" class="list-group-item">Catégorie 1</a>
        <a href="/cat2" class="list-group-item">Catégorie 2</a>
        <a href="/cat3" class="list-group-item">Catégorie 3</a>
    </div>
    <div class="list-group">
        <br>
        <a href="#" class="list-group-item">Prix Min</a>
        <input class="form-control" type="number" value="10">
        <a href="#" class="list-group-item">Prix Max</a>
        <input class="form-control" type="number" value="30">
        <center><button type="submit" class="btn btn-outline-primary">Afficher</button></center>
    </div>
</div>